* {
  box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
  .page-brk-dp {
    display: none;
  }

  .white-bg {
    margin: auto;
    margin-top: 20px;
  }

  .heading {
    font-size: 50px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    display: none;
  }

  .works {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-flow: row;
    grid-template-areas: "." "." "." "." "." ".";
  }

  .project {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding-left: 20px;
  }

  .dark-bg {
    background-color: #1a2236;
  }

  .heading-works {
    margin-left: 5%;
    margin-bottom: 30px;
  }

  article img {
    margin-top: -1vh;
  }
}

@media only screen and (min-width: 992px) {
  .nav-list {
    display: flex;
    height: 100px;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a2236;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #f9f9fa;
  }

  .nav-list > a {
    text-decoration: none;
    margin: 0 20px;
  }

  .nav-list > a :hover {
    padding-bottom: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }

  .icon {
    display: none;
  }

  .page-brk-dp {
    width: 50%;
  }

  .page-brk {
    display: none;
  }

  .intro-section {
    display: flex;
    align-items: flex-start;
    align-items: center;
    background-image: url("images/image_dots.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 40% bottom;
    margin-bottom: 20vh;
  }

  .white-bg {
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    padding: 0 94px 0 160px;
  }

  .heading {
    font-size: 80px;
  }

  .buttons-primary-dark {
    padding: 0 45px;
  }

  .works {
    position: relative;
    height: 1500px;
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5,
  .project6 {
    position: absolute;
  }

  .project1 {
    right: 0;
    top: 0;
    width: 66.6666vw;
  }

  .project2 {
    left: 0;
    top: 43vw;
    width: 33.3333vw;
  }

  .project3 {
    right: 0;
    top: 38.85vw;
    width: 33.3333vw;
  }

  .project4 {
    right: 0;
    top: 58.25vw;
    width: 33.3333vw;
  }

  .project5 {
    left: 0;
    top: 62.3vw;
    width: 55.5555vw;
  }

  .project6 {
    left: 55.5555vw;
    top: 94.8vw;
    width: 33.3333vw;
  }

  .heading-works {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 10vw;
  }

  :not(img:hover) ~ .project {
    display: none;
  }

  .project {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a2236;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0 40px 40px;
  }

  article.dark-bg div button {
    margin: 0;
  }

  article.dark-bg div ul {
    margin: 30px 0;
    font-size: 1vw;
    list-style: none;
  }
  article.dark-bg div ul li {
    margin: 0 15px 0 0;
    font-size: 15px;
  }

  article.dark-bg div h2 {
    margin: 0;
    font-size: 4vw;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 80%;
  }
}

@media only screen and (min-width: 1300px) {
  .heading {
    font-size: 110px;
  }

  .page-brk-dp {
    max-height: 100%;
    justify-self: flex-end;
  }
}

.ic-menu {
  margin-right: 20px;
  margin-top: -20px;
}

article img {
  width: 100%;
}

.page-brk {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.icon {
  width: auto;
  background-color: inherit;
}

.white-bg {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 90vw;
  justify-content: space-between;
}

.para {
  font-family: "Poppins", sans-serif;
  color: #1a2236;
  line-height: 21px;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.heading {
  font-family: "Playfair Display", sans-serif;
  color: #1a2236;
  line-height: 100%;
  margin-top: 20px;
  font-weight: normal;
}

.heading2 {
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
}

button {
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 45px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  min-width: 270px;
}

li button {
  width: 100%;
}

button:active {
  font-weight: bolder;
}

.buttons-primary-dark {
  background-color: #1a2236;
  color: #fff;
}

.buttons-primary-dark:hover {
  border: 1px solid #1a2236;
  background: #fff;
  color: #1a2236;
}

.buttons-primary-dark:active {
  border: 1.5px solid #1a2236;
  background: #fff;
  color: #1a2236;
}

.buttons-primary-white {
  background-color: #fff;
  color: #1a2236;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.buttons-primary-white:hover {
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
}

.buttons-primary-white:active {
  border: 1.5px solid #fff;
  background-color: #1a2236;
  color: #fff;
}

.lang-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 10.3334px;
  justify-content: flex-start;
}

.languages {
  background-color: #98dede;
  padding: 2px 10px;
  color: #1a2236;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.about {
  width: 289px;
  height: 289px;
  padding: 50px;
  margin-bottom: 20px;
  color: white;
  position: relative;
}

.blue {
  background-color: #1c528a;
}

.red {
  background-color: #e2505c;
}

.yellow {
  background-color: #febf52;
}

.icon-bg {
  width: 102px;
  height: 102px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.heading3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 15px;
}

.para2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  padding-left: 20px;
}

.side-li {
  padding-top: 10px;
}

.form-container {
  background-color: #f9f9fa;
  padding: 60px 0 40px 0;
  margin-top: 30px;
  background-image: url("images/image_geometry_1.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.form-li {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #dfdfe0;
  background-color: #fff;
}

input,
textarea {
  border: 0;
  padding: 4px 16px 8px 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  background-color: #fff;
  color: #7d7c84;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  margin: 4px 0 0 16px;
}

form ul li {
  list-style: none;
  margin-top: 8px;
}

#msg {
  height: 112px;
}

footer {
  background-color: #1a2236;
  padding: 32px 16px;
}

.acc {
  display: flex;
  justify-content: space-between;
}

footer img {
  width: 10px;
}

figure img {
  width: 24px;
}

footer h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  margin-bottom: 20px;
}
