* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.ic-menu {
  margin-right: 20px;
  margin-top: -20px;
}

img {
  width: 100%;
}

.page-brk {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.icon {
  width: auto;
  background-color: inherit;
}

.white-bg {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 90vw;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}

.para {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1a2236;
  line-height: 21px;
  letter-spacing: -0.01em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.heading {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  color: #1a2236;
  line-height: 100%;
  margin-top: 20px;
  font-weight: normal;
}

.heading2 {
  margin: 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
}

.heading-works {
  margin-left: 5%;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  height: 45px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

button:active {
  font-weight: bolder;
}

.buttons-primary-dark {
  background-color: #1a2236;
  color: #fff;
}

.buttons-primary-dark:hover {
  border: 1px solid #1a2236;
  background: #fff;
  color: #1a2236;
}

.buttons-primary-dark:active {
  border: 1.5px solid #1a2236;
  background: #fff;
  color: #1a2236;
}

.buttons-primary-white {
  background-color: #fff;
  color: #1a2236;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.buttons-primary-white:hover {
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
}

.buttons-primary-white:active {
  border: 1.5px solid #fff;
  background-color: #1a2236;
  color: #fff;
}

.works {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-auto-flow: row;
  grid-template-areas: "." "." "." "." "." ".";
}

.dark-bg {
  background-color: #1a2236;
}

.project {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-left: 20px;
}

.lang-container {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 10.3334px;
  width: 260px;
  justify-content: space-between;
}

.languages {
  background-color: #98dede;
  padding: 2px 10px;
  color: #1a2236;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.about {
  width: 289px;
  height: 289px;
  padding: 50px;
  margin-bottom: 20px;
  color: white;
  position: relative;
}

.blue {
  background-color: #1c528a;
}

.red {
  background-color: #e2505c;
}

.yellow {
  background-color: #febf52;
}

.icon-bg {
  width: 102px;
  height: 102px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.heading3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 15px;
}

.para2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  padding-left: 20px;
}

.side-li {
  padding-top: 10px;
}
